<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Add New Cat</h1>
                    <form class="edit-form" action="/admin/cats/add" method="post">
                        <label for="name">
                            Name:<br>
                            <input class="validate length" type="text" name="name" value="" maxlength="50" required>
                        </label><br>
                        <label for="vibe">
                            Vibe:<br>
                            <input class="validate length" type="text" name="vibe" value="" maxlength="50" required>
                        </label>
                        <p><input class="btn btn-primary" type="submit" name="submit" value="Add New Cat"></p>
                    </form>        
                </div>
            </div>
        </div>
    </div>
</main>