{{> guest-header}}
{{> admin-header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Add New Dance Class</h1>
                    <form class="edit-form" action="/admin/classes/add" method="post">
                        <div class="form-group">
                            <label for="name">
                                Name:<br>
                                <input class="validate length form-control" type="text" name="name" value="" maxlength="100" required>
                            </label><br>
                        </div>
                        <div class="form-group">
                            <label for="description">
                                Description:<br>
                                <textarea class="form-control" name="description"></textarea>
                            </label>
                        </div>
                        <p><input class="btn btn-primary" type="submit" name="submit" value="Add New Dance Class"></p>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</main>