  {{> guest-header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="header-bar">Rooms - View All</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                                <tr>
                                    <td>{{this.room_id}}</td>
                                    <td>{{this.room_name}}</td>
                                    <td>{{this.room_description}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>     
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}
