{{> guest-header}}
    <main>
        <h2>CLASSES</h2>

	   	<form class = "container" action="/guest/guest-classes-all" method = "GET"> SHOW ALL CLASSES:
  		<br>
  			<input type="submit" value="SHOW ALL">
  		<br> 
  		</form>

		  <P><P>
  			
		<P><P>

	   <form for = "userinput" class = "container" action="/guest/guest-classes-search" method = "GET">SEARCH FOR A SPECIFIC VIBE:
	   	<br>
  			<input type="text" name="userinput" >
  		<br>
  		<br>
  			<input type="submit" value="SEARCH">
  		<br>
		</form>

            </main>
{{> footer}}
