<header>
    <div class="header-home-link text-center">
        <a class="animate" href="/">BDBBABABC</a>
        <p class="text-center small-caption no-margin">Booq Dane's Beautiful Bed and Breakfast and Breakdancing Camp</p>
    </div>
    <nav id="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="text-center">
                        <li><a class="animate" href="/admin/overview">Overview</a></li>
                        <li><a class="animate" href="/admin/userlist">Tha Users</a></li>
                        <li><a class="animate" href="/admin/rooms">Tha Rooms</a></li>
                        <li><a class="animate" href="/admin/classes">Tha Fun</a></li>
                        <li><a class="animate" href="/admin/cats">Tha Cats</a></li>
                    </ul>
                    {{!-- <a class="header-admin-button" href="/admin/overview">Switch to Admin</a> --}}
                    <a class="header-guest-button" href="/">Switch to Guest</a>
                </div>
            </div>
        </div>
    </nav>
</header>