<section class="footer-cta">
    <div class="section">
        <div class="container">
            <div class="half">
                <h2>Need more information?</h2>    
                <p>This informational video should explain everything.</p>
                <p>I've noticed that some people are still confused. You can send me a message if you need help.</p>
                <p><a class="animate cta" href="/contact">Shout at Booq</a></p>
            </div>
            <div class="half">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/fWelUxoKmD0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>