<footer>
    <div class="section">
        <div class="container">
            <div class="third">
                <h4>Contact</h4>
                <p>BDBBABABC</p>
                <p>Email: <a href="mailto:info@BDBBABABC.com">info@BDBBABABC.com</a></p>
                <p>Phone: <a href="tel:18004382667">1-800-GET-BOOQ</a></p>
            </div>
            <div class="third">
                <h4>Sitemap</h4>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/rooms">Tha Rooms</a></li>
                    <li><a href="/food">Tha Food</a></li>
                    <li><a href="/fun">Tha Fun</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="third">
                <h4>Social</h4>
                <ul>
                    <li><a href="https://www.instagram.com/soundcloud/?hl=en" target="_blank">Instagram</li>
                    <li><a href="https://soundcloud.com" target="_blank">Soundcloud</li>
                    <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>