<header>
    <div class="header-home-link text-center">
        <a class="animate" href="/">BDBBABABC</a>
        <p class="text-center small-caption no-margin">Booq Dane's Beautiful Bed and Breakfast and Breakdancing Camp</p>
    </div>
    <nav id="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="text-center">
                        <li><a class="animate" href="/guest/guest-rooms-browse">Tha Rooms</a></li>
                        <li><a class="animate" href="/guest/guest-cats-browse">Tha Cats</a></li>
                        <li><a class="animate" href="/guest/guest-classes-browse">Tha Fun</a></li>
                        <li><a class="animate" href="/guest/guest-booking">BOOKING</a></li>
                    </ul>
                    <a class="header-admin-button" href="/admin/overview">Admin</a>
                </div>
            </div>
        </div>
    </nav>
</header>