{{> header}}
<main>
    <section id="main">
        <div class="section">
            <div class="container">
                <h1 class="text-center">Contact</h1>    
                <p class="text-center emphasis">I see that you may be confused. I can help you get a room. Please contact me using the contact form.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <form class="" action=" http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php" method="post">
                    <label for="name">Name:<br>
                        <input type="text" name="name" value="">
                    </label>
                    <label for="email">Email:<br>
                        <input type="email" name="email" value="">
                    </label>
                    <label for="message">Message:<br>
                        <textarea name="message" rows="8" cols="80"></textarea>
                    </label>
                    <input type="submit" name="submit" class="cta animate" value="Submit">
                </form>
            </div>
        </div>
    </section>
    {{> cta}}
</main>
{{> footer}}