{{> header}}
<main>
    <section id="main">
        <div class="section">
            <div class="container">
                <h1 class="text-center">Tha Food</h1>    
                <p class="text-center emphasis">Get the hot dogs or the pancakes for breakfast. I can help cook the hot dogs.</p>
                <p class="text-center"><a href="/assets/files/menu.txt" title="Complete Menu" target="_blank">Get the complete menu here.</a></p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="half">
                    <h2>Hot Dogs</h2>
                    <p><img src="/assets/images/hot_dogs.jpg" alt="Hot Dogs"></p>
                    <p class="img-caption">From: http://celanadalamwanita.club/how-to-cook-hot-dog/</p>
                </div>
                <div class="half">
                    <h2>Pancakes</h2>
                    <p><img src="/assets/images/pancakes_1.jpg" alt="Pancakes"></p>
                    <p class="img-caption">From: https://www.facebook.com/BillyBobProducts/photos/a.10151494773357295/10157080212417295/?type=3&theater</p>
                </div>
            </div>
        </div>
        <div class="fancy-divider"></div>
        <div class="section">
            <div class="container">
                <p>There are several ways that the hot dogs can be prepared. When I make the hot dogs, I like to add special touches. Sometimes I like to use ketchup and mustard, but I also switch to just onions on occasion. There can be chili with a bun, or we can put the chili in the bowl so that the hot dogs can be dipped into the chili without the bun. The hot dogs are also very delicious with relish and horseradish, but I don't always have horseradish because P-Cakes likes to put it on his cat food. The hot dogs will always be delicious, so don't worry and please order the hot dogs.</p>
            </div>
        </div>
    </section>
    {{> cta}}
</main>
{{> footer}}