{{> header}}
<main>
    <section id="main">
        <div class="section">
            <div class="container">
                <h1 class="text-center">Breakdancing</h1>    
                <p class="text-center emphasis">This is what it's all about. Come join me and my crew for breakdancing lessons. You can bring your mixtape.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <h2>Here's a list of dance moves</h2>
                <p>Scroll through these to learn more.</p>
                <div class="scroll-box">
                    <ul>
                        <li>Ball change</li>
                        <li>Basic figure</li>
                        <li>Basic movement</li>
                        <li>Basic step</li>
                        <li>Box step</li>
                        <li>Chaines / Chainé turns / Chaines turns</li>
                        <li>Chasse</li>
                        <li>Closed change</li>
                        <li>Cross-body lead</li>
                        <li>Dos-à-dos, Dosado</li>
                        <li>Enchufla</li>
                        <li>Feather step</li>
                        <li>Floss (dance)</li>
                        <li>Free spin</li>
                        <li>Gancho</li>
                        <li>Grapevine</li>
                        <li>Heel turn</li>
                        <li>Heel pull</li>
                        <li>Inside partner step</li>
                        <li>Inside turn</li>
                        <li>Lock Step</li>
                        <li>Moonwalk</li>
                        <li>Natural turn</li>
                        <li>Open turn</li>
                        <li>Outside partner step</li>
                        <li>Outside turn</li>
                        <li>Reverse turn</li>
                        <li>Rond</li>
                        <li>Telemark</li>
                        <li>Thunder clap</li>
                        <li>Time Step</li>
                        <li>Walk</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <p>I can't teach you any of those. But I can teach you these:</p>
                <div class="scroll-box">
                    <ul>
                        <li>Alligator Run</li>
                        <li>Bellydance</li>
                        <li>Hot Dog Backflip</li>
                        <li>Hungry Cat</li>
                        <li>Jello Yello</li>
                        <li>Move Around</li>
                        <li>Spin On Your Back</li>
                        <li>Spin On Your Knees</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="cats">
        <div class="section">
            <div class="container">
                <h1 class="text-center">Cats</h1>
                <p class="text-center emphasis">There will be cats. You can use mine or bring your own.</p>
                <p><img src="/assets/images/cat.jpg" alt="Nice Cats"></p>
                <p class="img-caption">From: https://unsplash.com/photos/IbPxGLgJiMI</p>
            </div>
        </div>
    </section>
    {{> cta}}
</main>
{{> footer}}