{{> header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form class="" action="/guest-booking" method="POST">
                    

                        <div class="form-group">
                            <label for="user_id">USER ID<br>
                                <input type="text" class="form-control" name="user_id" placeholder="USER ID"><br>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="room_id">ROOM ID<br>
                                <input type="text" class="form-control" name="room_id" placeholder="ROOM ID"><br>
                            </label>
                        </div>

                         <div class="form-group">
                            <label for="cat_id">CAT ID<br>
                                <input type="text" class="form-control" name="cat_id" placeholder="CAT ID"><br>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="date_in">DATE IN<br>
                                <input type="date" class="form-control" name="date_in" placeholder="DATE IN"><br>
                            </label>
                        </div>

                        <div class="form-group">
                            <label for="date_out">DATE OUT<br>
                                <input type="date" class="form-control" name="date_out" placeholder="DATE OUT"><br>
                            </label>
                        </div>
                                
                        <div class="form-group">
                            <label for="hot_dogs">HOTDOGS<br>
                                <input type="number" class="form-control" name="hot_dogs" placeholder="HOTDOGS"><br>
                            </label>
                        </div>
                                
                        <div class="form-group">
                            <label for="pancakes">PANCAKES<br>
                                <input type="number" class="form-control" name="pancakes" placeholder="PANCAKES"><br>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}