{{> guest-header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Update Links</h1>
                    <p><strong>**NOTE**</strong> These links will require you to login. Create a login when prompted. The admin panel is available to all users for demo purposes.</p>
                    <ul>
                        <li><a target="_blank" href="/admin/rooms">Update Room</a></li>
                        <li><a target="_blank" href="/admin/cats">Update Cat</a></li>
                        <li><a target="_blank" href="/admin/classes">Update Dance Class</a></li>
                    </ul>
                    <div style="width:100%; clear:both; height: 30px;"></div>
                    <h1>Delete Links</h1>
                    <ul>
                        <li><a target="_blank" href="/admin/rooms">Delete Room</a></li>
                        <li><a target="_blank" href="/admin/cats">Delete Cat</a></li>
                        <li><a target="_blank" href="/admin/classes">Delete Dance Class</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}