{{> guest-header}}
<main>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>YA GOTTA LOG IN FO DAT</h1>
                    <form class="" action="/login" method="POST">
                        <div class="form-group">
                            <label for="email">Email<br>
                                <input type="email" class="form-control" name="email" placeholder="Email address"><br>
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="password">Email<br>
                                <input type="password" class="form-control" name="password" placeholder="Password"><br>
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Login">
                        <input class="btn btn-primary" onclick="window.location.href = 'guest/guest-account';" value="Click Here To Make Your Account"</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}