{{> header}}
<main>
    <section id="main">
        <div class="section">
            <div class="container">
                <h1 class="text-center">Tha Rooms</h1>    
                <p class="text-center emphasis">We have a room for every guest. Ball out of control with other b-boys and b-girls.</p>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="half">
                    <p><img src="assets/images/bedroom_1.jpg" alt="Tha Hustler Room"></p>
                    <p class="img-caption">From: http://devineinteriors.biz/dirty-bedroom/</p>
                </div>
                <div class="half room-entry">
                    <h2>Tha Hustler</h2>
                    <p>This one has a chair that you can do business with.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="half">
                    <p><img src="assets/images/bedroom_3.jpg" alt="Tha Players Club"></p>
                    <p class="img-caption">From: https://www.dailymail.co.uk/news/article-3223341/A-dilapidated-school-bus-backyard-tent-resident-pig-windowless-den-world-s-worst-apartments.html</p>
                </div>
                <div class="half room-entry">
                    <h2>Tha Players Club</h2>
                    <p>I'm not sure how many honies can fit in there. You can store your mixtapes under the bed.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="half">
                    <p><img src="assets/images/bedroom_2.jpg" alt="Tha Ballers Dungeon"></p>
                    <p class="img-caption">From: http://devineinteriors.biz/dirty-bedroom/</p>
                </div>
                <div class="half room-entry">
                    <h2>Tha Ballers Dungeon</h2>
                    <p>This one has a thumping system so you can jam bangers all night. My boy P-Cakes lives here but he'll keep you company.</p>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="half">
                    <p><img src="assets/images/bedroom_4.jpg" alt="Tha Wreck Room"></p>
                    <p class="img-caption">From: https://www.dailymail.co.uk/news/article-3223341/A-dilapidated-school-bus-backyard-tent-resident-pig-windowless-den-world-s-worst-apartments.html</p>
                </div>
                <div class="half room-entry">
                    <h2>Tha Wreck Room</h2>
                    <p>This is where we recreate. Tiny works on cars out here and you can help if you want.</p>
                </div>
            </div>
        </div>
    </section>
    {{> cta}}
</main>
{{> footer}}