/* 
*   http://meyerweb.com/eric/tools/css/reset/ 
*   v2.0 | 20110126
*   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*    Border Box Everything
*/

/* Paul Irish Border Box Everything - https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
*    Global
*/
strong {
	font-weight: 700;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	*zoom: 1;
}
.container:before,
.container:after {
    content: " ";
    display: table;
}
.container:after {
    clear: both;
}
.half, .third {
	display: inline-block;
	float: left;
}
.half {
	width: 50%;
}
.third {
	width: 33.333333%;
}
.section {
	padding-top: 50px;
	padding-bottom: 50px;
}
.section.highlight {
	border-top: 50px solid black;
	border-bottom: 50px solid black;
	background-color: red;
	padding: 0px;
}
a.animate, a.animate:hover {
    transition: 0.2s all;
}
img {
	padding: 20px;
	max-width: 100%;
}
.cta {
	background-color: blue;
	border: 3px solid blue;
	color: white;
	display: inline-block;
	font-weight: 700;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
}
.cta:hover {
	background-color: white;
	color: blue;
}
.fancy-divider {
	color: green;
	font-size: 2em;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.fancy-divider span {
	margin-left: 20px;
	margin-right: 20px;
}
p.img-caption {
	font-size: 0.7em;
	text-align: center;
}

/*
*    Fonts
*/
body {
    font-family: "Helvetica", "Arial", sans-serif;
}
p.no-margin {
	margin: 0px;
}
.small-caption {
    font-size: 0.8em;    
    font-style: italic;
}
.emphasis {
	font-size: 1.4em;
	line-height: 1.75em;
	font-weight: 500;
}
em {
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin-bottom: 0.8em;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.75em;
}
h4 {
	font-size: 1.5em;
}
li, p {
	line-height: 1.5em;
	margin-bottom: 20px;
}
ul {
	padding-left: 20px;
}
li:before {
	content: '$';
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -20px;
	top: -1px;
	color: green;
	font-size: 1.4em;
}
li.nav-item:before {
	content: ''
}
li.flash:before {
	display: none;
}


/*
*    Header
*/
.header-home-link {
    background-color: red;
    padding: 10px 0px 20px;
}
.header-home-link a {
    color: white;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
}
.header-home-link a:hover {
    color: black;
}
#main-navigation {
	background-color: black;
	margin-bottom: 0px;
}
#main-navigation ul {
    background-color: black;
	padding: 0px;
}
#main-navigation ul li {
    display: inline-block;
	margin: 0px;
    padding: 20px;
}
#main-navigation a {
    color: white;
    text-decoration: none;
}
#main-navigation a:hover {
    color: red;
	border-bottom: 2px solid red;
}
#main-navigation a.header-admin-button {
	background-color: yellow;
    color: #000;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    right: 0px;
    text-transform: uppercase;
    top: 14px;
    z-index: 10;
}
.admin-navbar li {
	margin-bottom: 0px;
}

/*
*	Carousel
*/
.carousel-controls {
	margin: 10px 0px;
}
.carousel img {
	display: block;
	margin: 0px auto;
	max-width: 800px;
	width: 100%;
}
.carousel-button {
	background-color: blue;
	color: white;
	padding: 10px;
}

/*
*	Header Bars
*/
.header-bar {
	padding: 10px 20px;
}
h1.header-bar {
	background-color: red;
}
h2.header-bar {
	background-color: #42f2f5;
}
h3.header-bar {
	background-color: #e6e6e6;
}

/*
*	Homepage
*/
.center-vid {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.footer-cta {
	background-color: red;
}

/*
*	Rooms
*/
.room-entry {
	padding: 40px;
}

/*
*	Fun
*/
.scroll-box {
	height: 200px;
	overflow-y: scroll;
}
.scroll-box ul {
	padding: 0px;
}
.scroll-box ul li:before {
	display: none;
}
.scroll-box ul li {
	margin: 0px;
	padding: 10px 30px;
}
.scroll-box ul li:nth-child(2n) {
	background-color: gray;
}
.scroll-box ul li:nth-child(2n+1) {
	background-color: lightblue;
}

/*
*	Contact
*/
label {
	display: block;
	font-weight: 700;
	margin-bottom: 30px;
}
input, textarea {
	margin-top: 10px;
	padding: 5px 10px;
	width: 500px;
}

/*
*	Footer
*/
footer {
	background-color: black;
	color: white;
}
footer a {
	color: white;
}