/* 
*   http://meyerweb.com/eric/tools/css/reset/ 
*   v2.0 | 20110126
*   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*    Border Box Everything
*/

/* Paul Irish Border Box Everything - https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
*    Global
*/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
a.animate, a.animate:hover {
    transition: 0.2s all;
}


/*
*    Fonts
*/
body {
    font-family: "Helvetica", "Arial", sans-serif;
}
.small-caption {
    font-size: 0.8em;    
    font-style: italic;
}


/*
*    Header
*/
.header-home-link {
    background-color: red;
    padding: 10px 0px 20px;
}
.header-home-link a {
    color: white;
    display: inline-block;
    font-size: 2em;
    font-weight: 700;
    padding: 10px 40px;
    text-decoration: none;
}
.header-home-link a:hover {
    color: black;
}
#main-navigation ul {
    background-color: black;
}
#main-navigation ul li {
    display: inline-block;
    padding: 20px;
}
#main-navigation a {
    color: white;
    text-decoration: none;
}
#main-navigation a:hover {
    color: red;
}